<!DOCTYPE html>
<html>
<head>
<style>
* {
    box-sizing: border-box;
}
.header, .footer {
    background-color: #F7D358;
    color: #000000;
    padding: 15px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #FF8000;
}
</style>
</head>
<body>
<center><div class="header">
  <h2>เพลงพระราชนิพนธ์</h2>
</div></center>
</div>
<ul>
  <li style="float:right"><a href="kingsong3">เตือนใจ</a></li>
  <li style="float:right"><a href="kingsong2">ยิ้มสู้</a></li>
  <li style="float:right"><a href="kingsong1">คำหวาน</a></li>
  <li style="float:right"><a class="active" href="home">หน้าแรก</a></li>
</ul><br>
  <center><img src = "http://img.tnews.co.th/large/tnews_1484733917_5831.jpg"></center> 
  <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;พระบาทสมเด็จพระเจ้าอยู่หัวภูมิพลอดุลยเดชฯ ทรงเป็นพระมหากษัตริย์ที่เคารพรักและเทิดทูนของปวงชนชาวไทย เช่นเดียวกับพระมหาบูรพกษัตริย์ทุกพระองค์ แห่งราชวงศ์จักรีที่ปกครองประเทศชาติให้ผ่านพ้นผองภัย นานาประการมากว่า 200 ปี ในช่วงปีพุทธศักราช 2503 บรรดาประเทศเพื่อนบ้านใกล้เรือนเคียงของเรา มีปัญหาการปกครองภายในเปลี่ยนแปลงเข้าสู่ ลัทธิการเมืองใหม่ที่นำมาซึ่งความขัดแย้งรุนแรง แต่ไทยเรารอดปลอดภัยมาได้เพราะพระองค์เป็นศูนย์รวมจิตใจของคนไทยทุกคน โครงการงานในพระราชดำริมากมายที่พระองค์ทรงริเริ่ม ได้สร้างประโยชน์สุขให้แก่พสกนิกร ทั่วราชอาณาจักร เป็นที่เลื่อมใสศรัทธาของนานาประเทศ ถึงกับมีผู้กล่าวไว้ว่า พระองค์ทรงเป็นพระมหากษัตริย์ที่ทรงแต่งานเป็นกิจวัตรหลัก เป็นที่น่าพิศวงยิ่งนัก แม้พระองค์จะทรงมีภารกิจต่างๆ มากมาย แต่พระองค์ก็ยังทรงมีเวลาสร้างสรรค์พระราชนิพนธ์ทางดนตรี ที่มีความไพเราะไว้มาก ซึ่งยังติดตรึงใจปวงชนชาวไทยตลอดมา</p>
  </div>
</div>

<div align="right" class="footer" >
  <p >นางสาวสุธาภรณ์  คีรีเขตต์  57160443</p>
</div>

</body>
</html>
