<!DOCTYPE html>
<html>
<head>
<style>
* {
    box-sizing: border-box;
}
.header, .footer {
    background-color: #F7D358;
    color: #000000;
    padding: 15px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #FF8000;
}
</style>
</head>
<body>
<center><div class="header">
  <h2>เพลง เตือนใจ</h2>
</div></center>
</div>
<ul>
  <li style="float:right"><a href="kingsong3">เตือนใจ</a></li>
  <li style="float:right"><a href="kingsong2">ยิ้มสู้</a></li>
  <li style="float:right"><a href="kingsong1">คำหวาน</a></li>
  <li style="float:right"><a class="active" href="home">หน้าแรก</a></li>
</ul><br>
<a href="https://www.youtube.com/watch?v=YMlKZmuFrH0">ฟังเพลง<img src="http://th.seaicons.com/wp-content/uploads/2015/07/Media-play-music-icon.png"  width="50" height="50" ></a>
  <div class="column content">
  <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;เพลงพระราชนิพนธ์ลำดับที่ ๓๘ ทรงพระราชนิพนธ์ทำนองและคำร้องภาษาอังกฤษใน พ.ศ. ๒๕๐๘ ต่อมาใน พ.ศ. ๒๕๑๐ ทรงพระกรุณาโปรดเกล้าฯ ให้ท่านผู้หญิงมณีรัตน์ บุนนาค และหม่อมหลวงประพันธ์ สนิทวงศ์ ประพันธ์ คำร้องภาษาไทยถวาย
</p>
  <CENTER><TABLE FRAME="VOID" >
  	<TR>
    	<TD>เสียงเพลงเพราะเพลินพาเคลิ้มไป
        	<br>ให้อารมณ์หวั่นไหวแรงรักเธอ
        	<br>คิดตรึงซึ้งไว้ใจละเมอ
        	<br>รักเธอดั่งเพลงเดือน
        	<br>เสียงเพลงนี้พาเราฝันไป
        	<br>ก่อนเคยสุขสดใสในแสงเดือน
        	<br>คิดซึ้งตรึงไว้ใจฝันเตือน
        	<br>มิเลือนและลืมเธอ
        	<br>ต่างเคยหยอกเย้าพะเน้าคลอ
        	<br>ต่างคนต่างพ้อเพียงละเมอ
        	<br>สบสุขความทุกข์คลายเพราะเธอ
        	<br>ต่านปรนเปรอใจ
        	<br>เสียงเพลงนี้พาเราภิรมย์
        	<br>ต่างชมเชยชิดสองครองใจ
        	<br>เสียงเพลงนี้ซึ้งตรึงฤทัย	
        	<br>นึกไปชื่นใจเอย
        </TD>
        <TD align = "right">Let me tell you how I miss
        	<br>The thrill of your sweet little kiss;
        	<br>Let me tell you with this Old
        	<br>Fashioned melogy.
        	<br>Let me tell you how I sigh
        	<br>Far all the joys of days gone by;
        	<br>Let me tell you with this Old
        	<br>Fashioned melody.
        	<br>We used to go side by side
        	<br>On our own way all along,
        	<br>With nothing real to decide,
        	<br>Nothing was wrong.
        	<br>Now there's no word that can say,
        	<br>I can't tell you in anyway.
        	<br>Let me tell you with this Old
        	<br>Fashioned melody.</TD>
    </TR>
  </TABLE></CENTER>
  </div></center>
</div>


<div align="right" class="footer" >
  <p >นางสาวสุธาภรณ์  คีรีเขตต์  57160443</p>
</div>

</body>
</html>
