<!DOCTYPE html>
<html>
<head>
<style>
* {
    box-sizing: border-box;
}
.header, .footer {
    background-color: #F7D358;
    color: #000000;
    padding: 15px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #FF8000;
}
</style>
</head>
<body>
<center><div class="header">
  <h2>เพลง คำหวาน</h2>
</div></center>
</div>
<ul>
  <li style="float:right"><a href="kingsong3">เตือนใจ</a></li>
  <li style="float:right"><a href="kingsong2">ยิ้มสู้</a></li>
  <li style="float:right"><a href="kingsong1">คำหวาน</a></li>
  <li style="float:right"><a class="active" href="home">หน้าแรก</a></li>
</ul><br>
	<a href="https://www.youtube.com/watch?v=IbIhATDp4Ng"><img src="http://th.seaicons.com/wp-content/uploads/2015/07/Media-play-music-icon.png"  width="50" height="50" ></a>
    <font color="#FE2E64"> ฟังเพลง </font>
  <div class="column content">
  <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;เพลงพระราชนิพนธ์อันดับที่ ๑๐ ทรงพระราชนิพนธ์เมื่อวันอาทิตย์ที่ ๑๓ กุมภาพันธ์ พ.ศ. ๒๔๙๒ ทรงพระกรุณาโปรดเกล้าฯ ให้พระ เจ้าวรวงศ์เธอ พระองค์เจ้าจักรพันธ์เพ็ญศิริ นิพนธ์คำร้องทั้งภาษาอังกฤษและภาษาไทย</p>
  <CENTER><TABLE FRAME="VOID" >
  	<TR>
    	<TD>ได้ยินเพลงหวานก้อง
        	<br>ถ้อยทำนองร้องรำพัน
  			<br>ฝากความรักไว้มั่น
  			<br>ด้วยถ้อยอันอ่อนหวาน
  			<br>เปรียบดังเพลงทิพย์มา
  			<br>จากฟากฟ้าบันดาล
  			<br>เสียงเพลงปานเพลงวิมาน
  			<br>ประทานมากล่อม
  			<br>เมื่อได้ยินเพลงเพราะดังว่า
  			<br>ดั่งเทวาพาจิตโน้มน้อม
  			<br>หรือมาลวงลองร้องเพลงกล่อม
  			<br>จะประนอมให้ยอมปลงใจ
  			<br>หากคำหวานขานเอ่ย
  			<br>เพื่อเฉลยน้ำใจ
  			<br>รักจริงใจขอฟังไป
  			<br>ฟังให้ชื่นเชย
  			<br>ชื่นอารมณ์สมปอง
  			<br>แว่วเพลงร้องคมคำ
  			<br>พลอดความรักเพ้อพร่ำ
  			<br>ด้วยถ้อยคำงามสม
  			<br>ถ้อยทำนองร้องส่ง
  			<br>ก่อให้หลงลิ้นลม
  			<br>เพลินเพลงชมย้อมอารมณ์
  			<br>นิยมกลมกล่อม
  			<br>เมื่อได้ยินเพลงเพราะดังว่า
  			<br>ดั่งเทวาพาจิตโน้มน้อม
  			<br>หรือมาลวงลองร้องเพลงกล่อม
  			<br>จะประนอมให้ยอมปลงใจ
  			<br>หากคำหวานขานเอ่ย
  			<br>เพื่อเฉลยน้ำใจ
  			<br>รักจริงใจขอฟังไป
  			<br>ฟังให้ชื่นเชย
        </TD>
        <TD align = "right">The song you sing me
  			<br>Has sweetest words and melody. 
  			<br>It's love-laden flare
  			<br>That keeps my heart all a flame. 
  			<br>I wonder if you really care
  			<br>Or is it just a game
  			<br>Of teasing poor me
  			<br>Ever to be your slave of love? 
  			<br>Listen to sweet words in your song of love? 
  			<br>Like the tunes of birds singing up above. 
  			<br>How am I to know
  			<br>Those sweet words are true? 
  			<br>Please say so. Don't say no. 
  			<br>Say you mean it too. 
  			<br>Though your melody haunted me, 
  			<br>But your heart I never knew
  			<br>You can sing along sweet love song
  			<br>But the words may not be true. 
  			<br>If the song you sing
  			<br>Has sweet words sincere, 
  			<br>Please, darling
  			<br>Keep singing forever, dear. 
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br></TD>
    </TR>
  </TABLE></CENTER>
  </div></center>
</div>

<div align="right" class="footer" >
  <p >นางสาวสุธาภรณ์  คีรีเขตต์  57160443</p>
</div>

</body>
</html>
