<!DOCTYPE html>
<html>
<head>
<style>
* {
    box-sizing: border-box;
}
.header, .footer {
    background-color: #F7D358;
    color: #000000;
    padding: 15px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #FF8000;
}
</style>
</head>
<body>
<center><div class="header">
  <h2>เพลง ยิ้มสู้</h2>
</div></center>
</div>
<ul>
  <li style="float:right"><a href="kingsong3">เตือนใจ</a></li>
  <li style="float:right"><a href="kingsong2">ยิ้มสู้</a></li>
  <li style="float:right"><a href="kingsong1">คำหวาน</a></li>
  <li style="float:right"><a class="active" href="home">หน้าแรก</a></li>
</ul><br>
	<a href="https://www.youtube.com/watch?v=9m5Hv6yV68w">ฟังเพลง<img src="http://th.seaicons.com/wp-content/uploads/2015/07/Media-play-music-icon.png"  width="50" height="50" ></a>  
  <div class="column content">
  <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;เพลงพระราชนิพนธ์ลำดับที่ ๑๖ ทรงพระราชนิพนธ์ใน พ.ศ. ๒๔๙๕ ทรงพระกรุณาโปรดเกล้าฯ ให้พระเจ้าวรวงศ์เธอ พระองค์เจ้า จักรพันธ์เพ็ญศิริ นิพนธ์คำร้องภาษาไทย เพื่อเป็นการปลอบขวัญ และให้กำลังใจแก่คนตาบอด แล้วพระราชทานให้นำไปบรรเลงในงานสมาคมช่วยคนตาบอดในพระบรม ราชูปถัมภ์ ณ เวทีลีลาศสวนอัมพร เมื่อวันเสาร์ที่ ๑ มีนาคม พ.ศ.๒๔๙๕ ส่วนคำร้องภาษาอังกฤษ พระเจ้าวรวงศ์เธอ พระองค์เจ้าจักรพันธ์เพ็ญศิริ ทรงนิพนธ์ในปีต่อมา
</p>
  <CENTER><TABLE FRAME="VOID" >
  	<TR>
    	<TD>โลกจะสุขสบายนั้นเป็นได้หลายทาง
        	<br>ต้องหลบสิ่งกีดขวางหนทางให้พ้นไป
        	<br>จะสบความสุขสันต์สำคัญที่ใจ
        	<br>สุขและทุกข์อย่างไรเพราะใจตนเอง
        	<br>ฝ่าลู่ทางชีวิตต้องคิดเฝ้าย้อมใจ
        	<br>โลกมืดมนเพียงใดหัวใจอย่าคร้ามเกรง
        	<br>ตั้งหน้าชื่นเอาไว้ย้อมใจด้วยเพลง
        	<br>ไยนึกกลัวหวาดเกรงยิ้มสู้
        	<br>คนเป็นคนจะจนหรือมี
        	<br>ร้ายหรือดีคงมีหวังอยู่
        	<br>ยามปวงมารมาพาลลบหลู่
        	<br>ยิ้มละมัยใจสู้หมู่มวลเภทภัย
        	<br>ใฝ่กระทำความดีให้มีจิตโสภา
        	<br>สร้างแต่ความเมตตาหาความสุขสันต์ไป
        	<br>จะสบความสุขสันต์สำคัญที่ใจ
        	<br>เฝ้าแต่ยิ้มสู้ไปแล้วใจชื่นบาน
        </TD>
        <TD align = "right">Don't you think a smile is quite a strange thing?
        	<br>When you start to smile, it wrinkles your face, 
        	<br>And when it is gone, you cannot find
        	<br>Its peculiar secret hidding place. 
        	<br>But it's really far more wonderful thing, 
        	<br>Just to see what can each little smile do. 
        	<br>When you smile at one, he smiles at you. 
        	<br>So one little smile makes two. 
        	<br>Since you smiled, he's smiling too. 
        	<br>Then someone starts smiling back, 
        	<br>And that one will be smiling, 
        	<br>Till, in truth, you fail in keeping track. 
        	<br>And because a smile can do us great good. 
        	<br>By just cheering heart of love and of care. 
        	<br>Let us smile, and smile, and not forget
        	<br><br><br></TD>
    </TR>
  </TABLE></CENTER>
  </div></center>
</div>

<div align="right" class="footer" >
  <p >นางสาวสุธาภรณ์  คีรีเขตต์  57160443</p>
</div>

</body>
</html>
